@namespace TnTComponents
@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTButton>

<button is="tnt-button"
        @attributes="AdditionalAttributes"
        class="@ElementClass"
        style="@ElementStyle"
        name="@Name"
        type="@Type.ToHtmlType()"
        disabled="@Disabled"
        autofocus="@AutoFocus"
        @onclick="OnClick"
        @onclick:stopPropagation="StopPropagation">
    @ChildContent
</button>

@RenderPageScript()