@namespace TnTComponents
@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits TnTInteractablePageScriptComponent<TnTButton>
@implements ITnTStyleable


<button @attributes="AdditionalAttributes"
        class="@ElementClass"
        type="@Type.ToHtmlAttribute()"
        style="@ElementStyle"
        name="@ElementName"
        disabled="@Disabled"
        autofocus="@AutoFocus"
        title="@ElementTitle"
        id="@ElementId"
        @ref="Element"
        @onclick="OnClickCallback"
        @onclick:stopPropagation="StopPropagation">
    @ChildContent
</button>

