@namespace TnTComponents
@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits TnTPageScriptComponent<TnTFabButton>
@implements ITnTInteractable
<button is="tnt-button"
    @attributes="AdditionalAttributes"
    class="@ElementClass"
    style="@ElementStyle"
    name="@Name"
    disabled="@Disabled"
    autofocus="@AutoFocus"
    @onclick="OnClick">
    @ChildContent
</button>

@PageScript