@namespace TnTComponents
@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTFabButton>

<button is="tnt-button"
    @attributes="AdditionalAttributes"
    class="@ElementClass"
    style="@ElementStyle"
    name="@Name"
    type="@Type.ToHtmlType()"
    disabled="@Disabled"
    autofocus="@AutoFocus"
    @onclick="OnClick">
    @ChildContent
</button>

@RenderPageScript()