@namespace TnTComponents
@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits TnTComponentBase

<div class="tnt-fab-button-container">
    <button @attributes="AdditionalAttributes"
            class="@($"tnt-fab-button {ElementClass}")"
            style="@ElementStyle"
            type="@Type.ToHtmlAttribute()"
            name="@ElementName"
            disabled="@Disabled"
            autofocus="@AutoFocus"
            title="@ElementTitle"
            id="@ElementId"
            @onclick="OnClickCallback"
            @onclick:stopPropagation="StopPropagation"
            @ref="Element">

        @ChildContent
        @if (EnableRipple) {
            <TnTRippleEffect />
        }
    </button>
</div>