@namespace TnTComponents
@inherits TnTComponents.Core.TnTComponentBase

<button is="tnt-button"
    @attributes="AdditionalAttributes"
    class="@CssClass"
    style="@CssStyle"
    name="@Name"
    type="@Type.ToHtmlType()"
    disabled="@Disabled"
    autofocus="@AutoFocus"
    @onclick="OnClick">
    @Icon.Render()
</button>

<TnTPageScript Src="./_content/TnTComponents/Buttons/TnTButton.razor.js" />