@namespace NTComponents
@using NTComponents.Core
@inherits TnTComponentBase

<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     lang="@ElementLang"
     title="@ElementTitle"
     id="@ElementId"
     autofocus="@AutoFocus"
     @ref="Element">
</div>
