@page "/virtualizedGrid"
@using NTComponents
@using NTComponents.Extensions
@using NTComponents.Grid
@rendermode InteractiveServer
<div>
    <label>
        Delay in Seconds
        <input type="number" @bind-value="@_delay" />
    </label>
    <label>
        Empty
        <input type="checkbox" @bind-value="@_empty" />
    </label>
</div>


<div style="height: 60vh; overflow-y:scroll">
    <TnTDataGrid ItemsProvider="@_provider" Virtualize="true" OnRowClicked="RowClicked" TGridItem="DataGridItem" DataGridAppearance="DataGridAppearance.Stripped | DataGridAppearance.Compact">
        <TnTPropertyColumn Property="@(x => x.Column1)" Sortable="true" IsDefaultSortColumn="true"/>
        <TnTPropertyColumn Property="@(x => x.Column2)" Sortable="true" TextAlign="TextAlign.Center" MaxWidth="50" HeaderAlignment="TextAlign.Left" />
        <TnTPropertyColumn Property="@(x => x.Column3)" Format="MM/yyyy" HeaderAlignment="TextAlign.Right" />
        <TnTTemplateColumn>
            <TnTButton OnClickCallback="() => ItemClicked(context)" Appearance="ButtonAppearance.Text" TextColor="TnTColor.OnSurface" BackgroundColor="TnTColor.Surface" StopPropagation="true">
                <MaterialIcon Icon="@MaterialIcon.Edit" />
                Edit
            </TnTButton>
        </TnTTemplateColumn>
    </TnTDataGrid>


</div>


@code {
    [Inject]
    private ITnTToastService _service { get; set; }
    private bool _empty;
    private int _count;
    private int _delay = 2;

    private IQueryable<DataGridItem>? Items;
    private static object _locker = new();
    private static List<DataGridItem> _items;
    private TnTGridItemsProvider<DataGridItem> _provider = default!;

    protected override Task OnInitializedAsync() {
        lock (_locker) {
            if (_items == null) {
                var list = new List<DataGridItem>();
                foreach (var i in Enumerable.Range(1, 1000)) {
                    list.Add(new DataGridItem() {
                        Column1 = i,
                        Column2 = Guid.NewGuid().ToString(),
                        Column3 = new DateTime(Random.Shared.Next(1, 10000), Random.Shared.Next(1, 13), Random.Shared.Next(1, 29))
                    });
                }
                _items = list;
            }
            Items = _items.AsQueryable();
        }

        _provider = async request => {
            await Task.Delay(_delay * 1000);
            var items = Items.Apply(request);

            if (_empty) {
                return new();
            }

            return new NTComponents.Virtualization.TnTItemsProviderResult<DataGridItem> {
                Items = items.ToList(),
                TotalItemCount = Items.Count()
            };
        };

        return Task.CompletedTask;
    }

    private async Task RowClicked(DataGridItem item) {
        await _service.ShowAsync("Row clicked", item.Column1.ToString());
    }

    private async Task ItemClicked(DataGridItem item) {
        await _service.ShowAsync("Item clicked", item.Column2);
    }

    public record DataGridItem {

        public int Column1 { get; set; }

        public string Column2 { get; set; } = default!;

        public DateTime Column3 { get; set; }
    }


}