@using TnTComponents
@inherits LayoutComponentBase

<TnTLayout>
    <TnTHeader>
        <TnTSideNavToggle>
            <MaterialIcon Icon="@MaterialIcon.Menu" />
        </TnTSideNavToggle>
        <TnTThemeToggle />
        This is my header
    </TnTHeader>
    <TnTBody>
        @Body
    </TnTBody>

    <TnTFooter>
        Footer content
    </TnTFooter>
    <TnTSideNav HideOnLargeScreens="true">
        <h3>
            My First Headline
        </h3>
        <TnTSideNavLink Label="Home" href="/" Match="NavLinkMatch.All" Disabled="true" />
        <TnTSideNavLink Label="Accordion" href="/accordion" Icon="@MaterialIcon.MusicNote" />
        <TnTSideNavLink Label="Anchors" href="/navlinks" Icon="@MaterialIcon.Link" />

        <TnTSideNavMenuGroup Icon="@MaterialIcon.SmartButton" Label="Buttons">
            <TnTSideNavLink Label="Buttons" href="/buttons" />
            <TnTSideNavLink Label="Image Buttons" href="/imagebuttons" Icon="@MaterialIcon.MusicNote" />
            <TnTSideNavLink Label="FABs" href="/fabbuttons" Icon="@MaterialIcon.Link" />
        </TnTSideNavMenuGroup>
        <TnTSideNavLink Label="Chips" href="/chips" Icon="@MaterialIcon.BedroomChild" />
        <TnTSideNavLink Label="Dialogs" href="/dialog" Icon="@MaterialIcon.Diamond" />

        <TnTSideNavMenuGroup Icon="@MaterialIcon.EditNote" ExpandByDefault="false" Label="Editors">
            <TnTSideNavLink Label="Markdown Editor" href="/markdown" Icon="@MaterialIcon.MarkAsUnread" />
        </TnTSideNavMenuGroup>

        <TnTSideNavLink Label="Forms" href="/forms" Icon="@MaterialIcon.FormatAlignCenter" />

        <TnTSideNavMenuGroup Icon="@MaterialIcon.Grid4X4" ExpandByDefault="false" Label="Grids">
            <TnTSideNavLink Label="Grid" href="/datagrid" Icon="@MaterialIcon.GridView" />
            <TnTSideNavLink Label="Paginated Grid" href="/paginated" Icon="@MaterialIcon.GridOn" />
        </TnTSideNavMenuGroup>
        <TnTSideNavLink Label="Nested Layout" href="/nestedLayout" Icon="@MaterialIcon.NestCamWiredStand" />
        <TnTSideNavLink Label="Progress" href="/progress" Icon="@MaterialIcon.Propane" />

        <TnTSideNavMenuGroup Icon="@MaterialIcon.Schedule" ExpandByDefault="false" Label="Scheduler">
            <TnTSideNavLink Label="Weekly Scheduler" href="/scheduler" Icon="@MaterialIcon.ViewWeek" />
        </TnTSideNavMenuGroup>

        <TnTSideNavLink Label="Skeleton" href="/skeleton" Icon="@MaterialIcon.ShoppingBasket" />
        <TnTSideNavLink Label="TabView" href="/tabview" />
        <TnTSideNavLink Label="Toast" href="/toast" />
        <TnTSideNavLink Label="Typeahead" href="/typeahead" />
        <TnTSideNavLink Label="Virtualize" href="/InfiniteScroll" Icon="@MaterialIcon.Info" />
        <TnTSideNavLink Label="Wizard" href="/Wizard" Icon="@MaterialIcon.Image" />
    </TnTSideNav>

</TnTLayout>

<TnTDialog @rendermode="InteractiveAuto" />
<TnTToast @rendermode="InteractiveAuto" />