@using TnTComponents
@inherits LayoutComponentBase

<TnTLayout>
    <TnTHeader>
        <TnTSideNavToggle>
            <MaterialIcon Icon="@MaterialIcon.Menu" />
        </TnTSideNavToggle>
        <TnTThemeToggle />
        This is my header
    </TnTHeader>
    <TnTBody>
        @Body
    </TnTBody>

    <TnTFooter>
        Footer content
    </TnTFooter>
    <TnTSideNav HideOnLargeScreens="true">
        <h3>
            My First Headline
        </h3>
        <TnTSideNavLink href="/" Match="NavLinkMatch.All" Disabled="true">
            Home
        </TnTSideNavLink>
        <TnTSideNavLink href="/accordion" Icon="@MaterialIcon.MusicNote">
            Accordion
        </TnTSideNavLink>
        <TnTSideNavLink href="/anchors" Icon="@MaterialIcon.Link">
            Anchors
        </TnTSideNavLink>

        <TnTSideNavMenuGroup Icon="@MaterialIcon.SmartButton" Label="Buttons">
            <TnTSideNavLink href="/buttons">
                Buttons
            </TnTSideNavLink>
            <TnTSideNavLink href="/imagebuttons" Icon="@MaterialIcon.MusicNote">
                Image Buttons
            </TnTSideNavLink>
            <TnTSideNavLink href="/fabbuttons" Icon="@MaterialIcon.Link">
                FABs
            </TnTSideNavLink>
        </TnTSideNavMenuGroup>
        <TnTSideNavLink href="/carousel" Icon="@MaterialIcon.CarCrash">
            Carousel
        </TnTSideNavLink>
        <TnTSideNavLink href="/charts" Icon="@MaterialIcon.Addchart">
            Charts
        </TnTSideNavLink>
        <TnTSideNavLink href="/chips" Icon="@MaterialIcon.BedroomChild">
            Chips
        </TnTSideNavLink>
        <TnTSideNavLink href="/dialog" Icon="@MaterialIcon.Diamond">
            Dialogs
        </TnTSideNavLink>

        <TnTSideNavMenuGroup Icon="@MaterialIcon.EditNote" ExpandByDefault="false" Label="Editors">
            <TnTSideNavLink href="/markdown" Icon="@MaterialIcon.MarkAsUnread">
                Markdown Editor
            </TnTSideNavLink>
        </TnTSideNavMenuGroup>

        <TnTSideNavLink href="/forms" Icon="@MaterialIcon.FormatAlignCenter">
            Forms
        </TnTSideNavLink>

        <TnTSideNavMenuGroup Icon="@MaterialIcon.Grid4X4" ExpandByDefault="false" Label="Grids">
            <TnTSideNavLink href="/datagrid" Icon="@MaterialIcon.GridView">
                Grid
            </TnTSideNavLink>
            <TnTSideNavLink href="/paginated" Icon="@MaterialIcon.GridOn">
                Paginated Grid
            </TnTSideNavLink>
            <TnTSideNavLink href="/virtualizedGrid" Icon="@MaterialIcon.GridGoldenratio">
                Virtualized Grid
            </TnTSideNavLink>
        </TnTSideNavMenuGroup>
        <TnTSideNavLink href="/nestedLayout" Icon="@MaterialIcon.NestCamWiredStand">
            Nested Layout
        </TnTSideNavLink>
        <TnTSideNavLink href="/progress" Icon="@MaterialIcon.Propane">
            Progress
        </TnTSideNavLink>

        <TnTSideNavMenuGroup Icon="@MaterialIcon.Schedule" ExpandByDefault="false" Label="Scheduler">
            <TnTSideNavLink href="/scheduler" Icon="@MaterialIcon.ViewWeek">
                Weekly Scheduler
            </TnTSideNavLink>
        </TnTSideNavMenuGroup>

        <TnTSideNavLink href="/skeleton" Icon="@MaterialIcon.ShoppingBasket">
            Skeleton
        </TnTSideNavLink>
        <TnTSideNavLink href="/tabview">
            TabView
        </TnTSideNavLink>
        <TnTSideNavLink href="/toast">
            Toast
        </TnTSideNavLink>
        <TnTSideNavLink href="/typeahead">
            Typeahead
        </TnTSideNavLink>
        <TnTSideNavLink href="/InfiniteScroll" Icon="@MaterialIcon.Info">
            Virtualize
        </TnTSideNavLink>
        <TnTSideNavLink href="/Wizard" Icon="@MaterialIcon.Image">
            Wizard
        </TnTSideNavLink>
    </TnTSideNav>

</TnTLayout>

<TnTDialog @rendermode="InteractiveAuto" />
<TnTToast @rendermode="InteractiveAuto" />