@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTAccordion>
@namespace TnTComponents

<tnt-accordion @attributes="AdditionalAttributes" style="@ElementStyle" @ref="Element">
    <h3 class="@ElementClass" >
        @Title
        <MaterialIcon Icon="@MaterialIcon.ArrowDropDown"/>
    </h3>
    <div class="@(CssClassBuilder.Create().AddBackgroundColor(BodyBackgroundColor).AddForegroundColor(BodyTextColor).AddClass("tnt-visible", OpenByDefault).Build())" tnt-open-by-default="@OpenByDefault">
        <div>
            @ChildContent
        </div>
    </div>
</tnt-accordion>

@RenderPageScript()