@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<tnt-accordion @attributes="AdditionalAttributes" style="@CssStyle" @ref="Element">
    <h3 class="@CssClass" >
        @Title
        @MaterialIcon.ArrowDropDown.Render()
    </h3>
    <div class="@(CssClassBuilder.Create().AddBackgroundColor(BodyBackgroundColor).AddForegroundColor(BodyTextColor).AddClass("tnt-visible", OpenByDefault).Build())" tnt-open-by-default="@OpenByDefault">
        <div>
            @ChildContent
        </div>
    </div>
</tnt-accordion>

<TnTPageScript Src="@JsModulePath" />