@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<tnt-accordion @attributes="AdditionalAttributes" style="@Style" @ref="Element">
    <h3 class="@Class" >
        @Title
        @MaterialIcon.ArrowDropDown.Render()
    </h3>
    <div class="@(CssClassBuilder.Create().AddBackgroundColor(BodyBackgroundColor).AddForegroundColor(BodyTextColor).Build())">
        <div>
            @ChildContent
        </div>
    </div>
</tnt-accordion>

<TnTPageScript Src="@($"./_content/TnTComponents/TnTAccordion.razor.js")" />