@inherits TnTFormField<bool>


<div class="@GetClass()" theme="@Theme">
    <input type="@InputType"
           disabled="@Disable"
           checked="@Value"
           @bind="@Value"
           @bind:event="oninput"
           @onchange="OnChange"
           @onfocusin=@(() => Active = true)
           @onfocusout=@(() => Active = false)>


    <span @onclick="Toggle">
        @if(FormType == FormType.Filled) {
            <span></span>
        }
        @GetIcon()

        @if (!string.IsNullOrWhiteSpace(Label)) {
            @Label
        }
    </span>

</div>


@code {
    [Parameter]
    public override string BaseCssClass { get; set; } = "tnt-input-field-checkbox";

    protected override string InputType => "checkbox";

    protected override async Task OnChange(ChangeEventArgs e) {
        if (e?.Value != null) {
            await ValueChanged.InvokeAsync((bool)e!.Value);
        }
    }

    protected async Task Toggle() {
        if (!Disable) {
            Value = !Value;
            await OnChange(new ChangeEventArgs() { Value = Value });
        }
    }
}
