@inherits TnTInputField<bool>


<div theme="@Theme" class="@GetCssClass()">
    @TnTIconComponent.GetIcon(IconType, Icon)
    <input aria-label="@Label"
           name="@NameAttributeValue"
           disabled="@Disabled"
           placeholder="@Placeholder"
           type="checkbox"
           value="@bool.TrueString"
           @bind="@CurrentValue"
           @ref="@InputElement"
           @onfocusin="OnFocusIn"
           @onfocusout="OnFocusOut" />

    <span @onclick="Toggle">
        @if (FormType == FormType.Filled) {
            <span></span>
        }

        <label class="@GetLabelCssClass()">@Label</label>
    </span>

</div>
<ValidationMessage class="@GetValidationMessageCssClass()" theme="@Theme" For="ValueExpression" />

@code {

}
