@inherits TnTInputField<bool>


<div theme="@Theme" class="@GetCssClass()">
    @TnTIconComponent.GetIcon(IconType, Icon)
    <label class="@GetLabelCssClass()">
        <input @attributes="AdditionalAttributes"
               aria-label="@Label"
               name="@NameAttributeValue"
               disabled="@Disabled"
               type="checkbox"
               value="@bool.TrueString"
               @bind="@CurrentValue"
               @ref="@InputElement"
               @onfocusin="OnFocusInAsync"
               @onfocusout="OnFocusOutAsync" />

        <span @onclick="Toggle">
            @if (FormType == FormType.Filled) {
                <span></span>
            }
        </span>
        @Label
    </label>
</div>
@if (ShowValidation) {
    <ValidationMessage class="@GetValidationMessageCssClass()" theme="@Theme" For="ValueExpression" />
}
