@using Microsoft.AspNetCore.Components.Forms;
@inherits TnTBaseComponent
@implements ITnTForm
@typeparam TModelType

<CascadingValue TValue="ITnTForm" IsFixed=true Value="this">
    <EditForm class="@GetClass()" theme="@Theme" Model="@Model" EditContext="@EditContext" FormName="@FormName" >
        <DataAnnotationsValidator />

        @ChildContent

        <button type="submit">
            Submit
        </button>
    </EditForm>
</CascadingValue>
