@inherits TnTIconComponent
@typeparam TInputType

<div class="@GetCssClass()" theme="@Theme">
    @GetIcon()
    <input type="@InputType"
           disabled="@Disable"
           placeholder="@Placeholder"
           @bind="@Value"
           @bind:event="oninput"
           @onchange="OnChange"
           @onfocusin=@(() => Active = true)
           @onfocusout=@(() => Active = false)>

    @GetAdditionalMarkup()

    @if (!string.IsNullOrWhiteSpace(Label)) {
        <label class="tnt-input-field-label @(!string.IsNullOrWhiteSpace(Placeholder) || !string.IsNullOrWhiteSpace(Icon) ? "placeholder" : string.Empty) @(Active || !string.IsNullOrWhiteSpace(Value?.ToString()) ? "active" : string.Empty)">
            @Label
        </label>
    }
</div>

@if (!string.IsNullOrWhiteSpace(HelperText)) {
    <span class="helper-text">@HelperText</span>
}


@code {

}
