@typeparam TInputType
@inherits TnTBaseComponent

<div class="@GetCssClass()">
    @TnTIconComponent.GetIcon(IconType, Icon)
    <input aria-label="@Label"
           id="@_id"
           type="radio"
           name="@Context.GroupName"
           disabled="@Disabled"
           value="@BindConverter.FormatValue(Value?.ToString())"
           checked="@(Context.CurrentValue?.Equals(Value) == true ? GetToggledTrueValue() : null)"
           @onchange="@Context.EventCallback" />

    <label for="@_id" class="@Context.LabelCss">@Label</label>
</div>


