@*@typeparam TInputType
@inherits TnTInputField<TInputType>



<div theme="@Theme" class="@GetCssClass()">
    <label class="@GetLabelCssClass()" @onclick="SetInputFocus">@Label</label>
    <div class="tnt-radio-btn-items">
        <CascadingValue Value="_radioGroupContext" IsFixed="true">
            @RadioButtons
        </CascadingValue>
    </div>


</div>
@if (ShowValidation) {
    <ValidationMessage class="@GetValidationMessageCssClass()" theme="@Theme" For="ValueExpression" />
}
*@