@*@inherits TnTComponentBase
@typeparam TInputType

<label class="@LabelClass">
    <span class="@ContainerClass">
        @TnTIconComponent.RenderIcon(IconType, StartIcon, "start-icon")
            <input @attributes="AdditionalAttributes"
                   @ref="Element"
                   aria-label="@AriaLabel"
                   type="radio"
                   class="@GetClass()"
                   name="@_radioGroup.GroupName"
                   style="@Style"
                   title="@Title"
                   disabled="@Disabled"
                   formtype="@_radioGroup.FormType.ToString().ToLower()"
                   required="@Required">
        }
        @if (!string.IsNullOrWhiteSpace(Label)) {
            <span class="@LabelTextClass">
                @Label
            </span>
        }
        @TnTIconComponent.RenderIcon(IconType, EndIcon, "end-icon")
    </span>
    @if (!string.IsNullOrWhiteSpace(SupportingText)) {
        <span class="@SupportingTextClass">@SupportingText</span>
    }
</label>*@