@typeparam TInputType
@inherits TnTInputField<TInputType>



<div theme="@Theme" class="@GetCssClass()">
    <CascadingValue Value="_radioGroupContext" IsFixed="true" >
        @RadioButtons
    </CascadingValue>
    

    <label class="@GetLabelCssClass()" @onclick="SetInputFocus">@Label</label>
</div>
@if (ShowValidation) {
    <ValidationMessage class="@GetValidationMessageCssClass()" theme="@Theme" For="ValueExpression" />
}
