@*@typeparam TInputType
@inherits TnTInputBase<TInputType>

<CascadingValue Value="this" IsFixed="true">
    <div @attributes="AdditionalAttributes" class="@GetClass()" style="@Style" theme="@Theme">
        @if (!string.IsNullOrWhiteSpace(Label)) {
            <span class="@LabelTextClass">
                @Label
            </span>
        }
        @ChildContent
        @if (!string.IsNullOrWhiteSpace(SupportingText)) {
            <span class="@SupportingTextClass">@SupportingText</span>
        }
        @if (ShowValidation) {
            <ValidationMessage class="@ValidationClass" For="ValueExpression" />
        }
    </div>
</CascadingValue>*@