@inherits TnTFormField<string>

<div class="tnt-input-field @GetFromType() @(Active ? "active" : string.Empty)" theme="@Theme">
    <input type="text"
           disabled="@Disable"
           placeholder="@Placeholder"
           @bind="@Value"
           @bind:event="oninput"
           @onchange="@((args => ValueChanged.InvokeAsync(args?.Value?.ToString())))"
           @onfocusin=@(() => Active = true)
           @onfocusout=@(() => Active = false)>


    @if (!string.IsNullOrWhiteSpace(Label)) {
        <label class="tnt-input-field-label @(Active || !string.IsNullOrWhiteSpace(Value.ToString()) ? " active" : string.Empty)">
            @Label
        </label>
    }
</div>

@code {

}
