@using System.Diagnostics.CodeAnalysis;
@inherits TnTInputField<string?>

<div theme="@Theme" class="@GetCssClass()">
    @TnTIconComponent.RenderIcon(IconType, Icon)
    <input @attributes="AdditionalAttributes"
           aria-label="@Label"
           name="@NameAttributeValue"
           disabled="@Disabled"
           placeholder="@Placeholder"
           @ref="@InputElement"
           @bind="@CurrentValueAsString"
           @onfocusin="OnFocusInAsync"
           @onfocusout="OnFocusOutAsync" />

    <label class="@GetLabelCssClass()" for="@NameAttributeValue">@Label</label>
</div>
@if (ShowValidation) {
    <ValidationMessage class="@GetValidationMessageCssClass()" theme="@Theme" For="ValueExpression" />
}
