@namespace NTComponents
@using Microsoft.AspNetCore.Components.Rendering
@using NTComponents.Interfaces
@typeparam TInputType
@inherits InputBase<TInputType>
@implements ITnTComponentBase
<div class="tnt-input-container" style="@ElementStyle">
	<label class="@ElementClass" title="@ElementTitle" lang="@ElementLang" id="@ElementId" >
		@if (StartIcon is not null) {
			@StartIcon.Render("tnt-start-icon")
		}

		@RenderInputElement

		@if (!string.IsNullOrWhiteSpace(Label)) {
			<span class="tnt-label">
				@Label
			</span>
		}


		@if (EndIcon is not null) {
			@EndIcon.Render("tnt-end-icon")
		}
	</label>

	@if (Tooltip is not null) {
		@TooltipIcon.Render()
	}

	@if (!string.IsNullOrWhiteSpace(SupportingText) || !string.IsNullOrWhiteSpace(ErrorMessage) || (EditContext is not null && !DisableValidationMessage && ValueExpression is not null)) {
		<span class="tnt-supporting-text">
			@if (!string.IsNullOrWhiteSpace(ErrorMessage)) {
				<div class="tnt-components tnt-validation-message">@ErrorMessage</div>
			}
			else if (EditContext is not null && !DisableValidationMessage && ValueExpression is not null) {
				<ValidationMessage TValue="@TInputType" For="@ValueExpression" class="tnt-components tnt-validation-message" />
			}
			@SupportingText
		</span>
	}

	@if (GetMaxLength() > 0 && RendererInfo.IsInteractive && ShowInputLength) {
		<span class="tnt-input-length">
			@if(!RendererInfo.IsInteractive){
				<text>@(CurrentValueAsString?.Length ?? 0)/@(GetMaxLength())</text>
			}
		</span>
	}
</div>


@code {
	protected virtual void RenderInputElement(RenderTreeBuilder __builder) {
		<input type="@Type.ToInputTypeString()"
			   @attributes="AdditionalAttributes"
			   name="@ElementName"
			   title="@FieldIdentifier.FieldName"
			   autofocus="@AutoFocus"
			   autocomplete="@AutoComplete"
			   readonly="@FieldReadonly"
			   placeholder="@(string.IsNullOrWhiteSpace(Placeholder) ? " " : Placeholder)"
			   disabled="@FieldDisabled"
			   required="@IsRequired()"
			   minlength="@GetMinLength()"
			   maxlength="@GetMaxLength()"
			   min="@GetMinValue()"
			   max="@GetMaxValue()"
			   onkeypress="NTComponents.formKeyDownSupportingTextHandler(event)"
			   @bind-value:get="@CurrentValueAsString"
			   @bind-value:set="(newValue) => OnInputAsync(newValue)"
			   @bind-value:event="@(BindOnInput ? "oninput" : "onchange")"
			   @onblur="@OnBlurAsync"
			   @ref="Element" />

	}

}
