@using System.ComponentModel.DataAnnotations
@using TnTComponents
@rendermode InteractiveAuto
<TnTForm Model="@_model" Appearance="FormAppearance.Outlined">
    <DataAnnotationsValidator />
    <TnTInputSelect @bind-Value="_model.A" Appearance="FormAppearance.Filled">
        @foreach (var v in Values) {
            <option value="@v">@v</option>
        }
    </TnTInputSelect>

    <TnTLabel Label="My Label" BackgroundColor="TnTColor.Surface" Appearance="FormAppearance.Filled">
        <TnTInputSelect @bind-Value="_model.A" Appearance="FormAppearance.Filled">
            @foreach (var v in Values) {
                <option value="@v">@v</option>
            }
        </TnTInputSelect>
    </TnTLabel>

    <TnTInputSelect StartIcon="MaterialIcon.Satellite" EndIcon="MaterialIcon.QueryBuilder" @bind-Value="_model.A" Appearance="FormAppearance.Filled">
        @foreach (var v in Values) {
            <option value="@v">@v</option>
        }
    </TnTInputSelect>

    <TnTLabel Label="My Label" BackgroundColor="TnTColor.Surface" Appearance="FormAppearance.Filled">
        <TnTInputSelect StartIcon="MaterialIcon.Satellite" EndIcon="MaterialIcon.QueryBuilder" @bind-Value="_model.A" Appearance="FormAppearance.Filled">
            @foreach (var v in Values) {
                <option value="@v">@v</option>
            }
        </TnTInputSelect>
    </TnTLabel>
</TnTForm>

@_value


@code {
    private double _value = 0.0;

    private Model _model = new();

    class Model {
        public string A { get; set; }
    }

    string[] Values = ["One", "Two", "Three", "Four", "Five"];


}