@using static LiveTest.Client.Pages.Forms
<TnTSelect @bind-Value="@Model.SelectValue"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Label="@nameof(Model.SelectValue)" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Label="@nameof(Model.SelectValue)" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Label="@nameof(Model.SelectValue)" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Label="@nameof(Model.SelectValue)" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Disabled="true"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" StartIcon="home" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" StartIcon="home" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
<TnTSelect @bind-Value="@Model.SelectValue" EndIcon="search" SupportingText="Supporting Text" StartIcon="home" Placeholder="Placeholder" Disabled="true" Label="@nameof(Model.SelectValue)"> <option value="1">1</option><option value="2">2</option><option value="3">3</option></TnTSelect>
@code {
    [CascadingParameter]
    public InputClass Model { get; set; }
}
