@using Microsoft.AspNetCore.Components.Sections
@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<tnt-tab-view @attributes=AdditionalAttributes class="@CssClass" style="@CssStyle" @ref="Element">
    <CascadingValue Value="this" IsFixed="true">
        <DeferRendering>
            <div class="@(CssClassBuilder.Create().AddBackgroundColor(HeaderBackgroundColor).Build())">
                <span class="@(CssClassBuilder.Create(string.Empty).AddForegroundColor(HeaderTextColor).Build())">
                    @foreach (var pair in _tabChildren.Select((child, index) => new { child, index })) {
                        var child = pair.child;
                        var index = pair.index;
                        <button type="button" title="@child.Title" disabled="@child.Disabled" button-index="@index" class="@(CssClassBuilder.Create(string.Empty)
                                                                                                                        .AddActionableBackgroundColor(!child.Disabled ? TnTColor.Transparent : null)
                                                                                                                        .AddBackgroundColor(child.Disabled ? TnTColor.Transparent : null)
                                                                                                                        .AddForegroundColor(HeaderTextColor)
                                                                                                                        .SetDisabled(child.Disabled)
                                                                                                                        .AddRipple()
                                                                                                                        .Build())">
                            @if (!SecondaryTabView) {
                                @child.Icon?.Render()
                            }
                            @child.Title
                        </button>
                    }
                </span>
                <span class="@(CssClassBuilder.Create().AddBackgroundColor(ActiveIndicatorColor).Build())"></span>
            </div>
        </DeferRendering>
        @ChildContent
    </CascadingValue>
</tnt-tab-view>
<TnTPageScript Src="./_content/TnTComponents/TabView/TnTTabView.razor.js" />

