@typeparam TGridItem
@inherits TnTDataGridBody<TGridItem>

<tbody>
	<NTVirtualize TItem="@((int, TGridItem))"
				  ItemsProvider="@ProvideVirtualizedItemsAsync"
				  SpacerElement="tr"
				  @ref="_virtualize"
				  ItemSize="@Context.Grid.ItemSize"
				  OverscanCount="@Context.Grid.OverscanCount">
		<ItemTemplate>
			<TnTDataGridBodyRow aria-rowindex="@context.Item1" Item="@context.Item2" />
		</ItemTemplate>
		<LoadingTemplate>
			<tr aria-rowindex="@context.Index" style="@($"height: {Context.Grid.ItemSize}px")">

				<td colspan="@Context.Columns.Count()">
					<TnTSkeleton class="tnt-table-skeleton" />
				</td>
			</tr>
		</LoadingTemplate>
		<EmptyTemplate>
			<TnTDataGridBodyRowEmpty TGridItem="@TGridItem" />
		</EmptyTemplate>

	</NTVirtualize>
</tbody>
