@page "/box-plot"
@using NTComponents.Charts
@using NTComponents.Charts.Core
@using NTComponents.Charts.Core.Axes
@using NTComponents.Charts.Core.Series

<div class="p-4">
   <h3>Box Plot Demo</h3>
   <p>Visualizing statistical distribution of experiment results.</p>

   <div style="height: 500px; width: 100%;" class="mt-4 border rounded p-2">
      <NTChart TData="ExperimentResult" Title="Experiment Results by Group" IsCategoricalX="true" RangePadding="0.1">
         <NTBoxPlotSeries TData="ExperimentResult" Data="@Data" XValue="@(d => (double)d.GroupId)"
            YValueSelector="@(d => d.Stats.Median)" BoXValue="@(d => d.Stats)" Title="Experiment Groups"
            Color="TnTColor.Tertiary" XAxis="@(new NTXAxisOptions { Title = "Group" })"
            YAxis="@(new NTYAxisOptions { Title = "Value" })" />
      </NTChart>
   </div>
</div>

@code {
   public class ExperimentResult
   {
      public int GroupId { get; set; }
      public string GroupName { get; set; } = string.Empty;
      public BoxPlotValues Stats { get; set; } = default!;
   }

   private List<ExperimentResult> Data = new()
{
new ExperimentResult
{
GroupId = 1, GroupName = "Control",
Stats = new BoxPlotValues(10.0m, 25.0m, 45.0m, 60.0m, 95.0m, new decimal[] { 5.0m, 105.0m })
},
new ExperimentResult
{
GroupId = 2, GroupName = "Test A",
Stats = new BoxPlotValues(20.0m, 40.0m, 55.0m, 75.0m, 90.0m, null)
},
new ExperimentResult
{
GroupId = 3, GroupName = "Test B",
Stats = new BoxPlotValues(30.0m, 50.0m, 65.0m, 80.0m, 120.0m, new decimal[] { 140.0m })
},
new ExperimentResult
{
GroupId = 4, GroupName = "Test C",
Stats = new BoxPlotValues(15.0m, 35.0m, 50.0m, 70.0m, 85.0m, null)
}
};
}
