@page "/animation"

<div style="height: 100vh; background-color:red">

</div>

<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.FadeIn">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>

<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.SlideBottom">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>


<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.SlideTop">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>


<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.SlideLeft">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>


<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.SlideRight">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>


<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.Flip">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>

        
<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.RotateClockwise">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>


<NTComponents.TnTAnimation Duration="1000" AnimationType="@NTComponents.Animation.RotateCounterClockwise">
    <NTComponents.TnTCard>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada ornare elementum. Vestibulum eget rutrum neque. Pellentesque magna ex, pulvinar vitae mollis vel, laoreet sed sapien. Phasellus mi risus, tristique in mauris at, posuere ornare justo. Sed luctus consequat vulputate. Phasellus condimentum, justo a feugiat dapibus, sem felis porta nunc, sit amet porttitor sapien diam vitae sem. Nullam gravida nibh et ex ultricies, et iaculis erat suscipit. Quisque elementum, lectus vitae viverra ullamcorper, diam massa eleifend ex, sed malesuada nisl risus sed massa. Praesent imperdiet aliquet mattis. Nam at erat at diam laoreet mattis molestie sit amet neque.

        Ut ut nulla velit. Sed vestibulum nulla ac tellus sodales consectetur. Curabitur nec porta tortor. Nam vehicula ante ut orci fringilla, nec varius est commodo. Fusce luctus facilisis nunc, ac consectetur nunc semper quis. Pellentesque a sapien vel lectus gravida euismod at at elit. Donec tempus porttitor accumsan. Sed vitae lacinia mauris. Curabitur in blandit augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sit amet congue enim.

        Donec volutpat sem vel diam tincidunt, vitae mollis sem faucibus. Nullam at tellus lacinia, placerat turpis lacinia, scelerisque nulla. Nullam eget diam eu erat fringilla pharetra. Praesent in diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut sit amet ipsum erat. In nec sapien ac orci dapibus vulputate. Curabitur urna nulla, pulvinar a augue sit amet, vulputate molestie purus. Vivamus pretium, erat vel bibendum congue, eros lectus pretium eros, ac convallis arcu lectus vel erat. Donec malesuada, risus sit amet egestas congue, lectus libero molestie magna, non imperdiet lectus urna sit amet sapien. Maecenas tempor lectus nulla, ac gravida ipsum eleifend vel. Nullam rutrum auctor molestie. Aenean dictum mauris turpis, sit amet pellentesque tortor accumsan vitae.

        Suspendisse nec tellus non libero posuere luctus. Donec id ipsum leo. Praesent aliquet sed orci eget mollis. Mauris sit amet nibh at mi suscipit auctor in non est. Sed volutpat feugiat magna. Duis et tortor purus. Proin at enim convallis, faucibus elit nec, auctor nisl. Proin pretium nulla ac purus interdum, non posuere lectus semper.

        In dignissim enim quis velit auctor auctor a eleifend sapien. Sed tempor magna non pharetra luctus. Aliquam sed quam nunc. Fusce quis odio vitae magna mollis eleifend. Praesent ac fringilla elit, sed aliquet neque. Aenean ultricies gravida ultrices. Nulla finibus turpis a tristique interdum.
    </NTComponents.TnTCard>
</NTComponents.TnTAnimation>