@page "/paginated"
@using TnTComponents
@using TnTComponents.Core
@using TnTComponents.Extensions
@using TnTComponents.Grid
@rendermode InteractiveServer

<div>
    <label>
        Empty
        <input type="checkbox" @bind-value="_empty" />
    </label>
</div>

<div style="height: 60vh; overflow-y:scroll">
    <TnTDataGrid Items="@(_empty? Array.Empty<DataGridItem>().AsQueryable() : Items)" Pagination="_paginationState" OnRowClicked="RowClicked" TGridItem="DataGridItem" DataGridAppearance="DataGridAppearance.Stripped" Resizable="true">
        <TnTPropertyColumn Property="@(x => x.Column1)" Sortable="true" />
        <TnTPropertyColumn Property="@(x => x.Column2)" Sortable="true" TextAlign="TextAlign.Center" HeaderAlignment="TextAlign.Left" />
        <TnTPropertyColumn Property="@(x => x.Column3)" Format="MM/yyyy" HeaderAlignment="TextAlign.Right" />
        <TnTTemplateColumn>
            <TnTButton OnClickCallback="() => ItemClicked(context)" Appearance="ButtonAppearance.Text" TextColor="TnTColor.OnSurface" BackgroundColor="TnTColor.Surface" StopPropagation="true">
                <MaterialIcon Icon="@MaterialIcon.Edit" />
                Edit
            </TnTButton>
        </TnTTemplateColumn>
    </TnTDataGrid>
</div>
<TnTComponents.TnTPaginationButtons PaginationState="@_paginationState" />


<h3>
    Virtualized
</h3>
<div style="height: 60vh; overflow-y:scroll">
    <TnTDataGrid ItemsProvider="@_provider" Pagination="_paginationState" OnRowClicked="RowClicked" TGridItem="DataGridItem" DataGridAppearance="DataGridAppearance.Stripped" Resizable="true">
        <TnTPropertyColumn Property="@(x => x.Column1)" Sortable="true" />
        <TnTPropertyColumn Property="@(x => x.Column2)" Sortable="true" TextAlign="TextAlign.Center" HeaderAlignment="TextAlign.Left" />
        <TnTPropertyColumn Property="@(x => x.Column3)" Format="MM/yyyy" HeaderAlignment="TextAlign.Right" />
        <TnTTemplateColumn>
            <TnTButton OnClickCallback="() => ItemClicked(context)" Appearance="ButtonAppearance.Text" TextColor="TnTColor.OnSurface" BackgroundColor="TnTColor.Surface" StopPropagation="true">
                <MaterialIcon Icon="@MaterialIcon.Edit" />
                Edit
            </TnTButton>
        </TnTTemplateColumn>
    </TnTDataGrid>
</div>
<TnTComponents.TnTPaginationButtons PaginationState="@_paginationState" />


@code {
    [Inject]
    private ITnTToastService _service { get; set; }

    private TnTPaginationState _paginationState = new() {
        ItemsPerPage = 10
    };

    private bool _empty;
    private int _count;
    private TnTGridItemsProvider<DataGridItem> _provider = default!;

    private IQueryable<DataGridItem>? Items;
    private static object _locker = new();
    private static List<DataGridItem> _items;
    protected override async Task OnInitializedAsync() {
        lock (_locker) {
            if (_items == null) {
                var list = new List<DataGridItem>();
                foreach (var i in Enumerable.Range(1, 1000)) {
                    list.Add(new DataGridItem() {
                        Column1 = Random.Shared.Next(1, 1000),
                        Column2 = Guid.NewGuid().ToString(),
                        Column3 = new DateTime(Random.Shared.Next(1, 10000), Random.Shared.Next(1, 13), Random.Shared.Next(1, 29))
                    });
                }
                _items = list;
            }
            Items = _items.AsQueryable();
        }

        _provider = async request => {
            await Task.Delay(1500);
            var items = Items.Apply(request);

            if (_empty) {
                return new();
            }

            return new TnTComponents.Virtualization.TnTItemsProviderResult<DataGridItem> {
                Items = items.ToList(),
                TotalItemCount = Items.Count()
            };
        };

        await _paginationState.SetTotalItemCountAsync(Items.Count());
    }

    private async Task RowClicked(DataGridItem item) {
        await _service.ShowAsync("Row clicked", item.Column1.ToString());
    }

    private async Task ItemClicked(DataGridItem item) {
        await _service.ShowAsync("Item clicked", item.Column2);
    }

    public class DataGridItem {

        public int Column1 { get; set; }

        public string Column2 { get; set; } = default!;

        public DateTime Column3 { get; set; }
    }


}