@page "/Wizard"
@using System.ComponentModel.DataAnnotations
@using NTComponents
@rendermode InteractiveAuto
<br />
<br />
<br />
<TnTInputSelect @bind-Value="_layoutDirection" Label="Appearance" Placeholder="Select appearance">
    @foreach (var appearance in Enum.GetValues<LayoutDirection>()) {
        <option value="@appearance">@appearance</option>
    }
</TnTInputSelect>

<NTComponents.TnTWizard Title="Wizard" LayoutDirection="@_layoutDirection">
    <NTComponents.TnTWizardFormStep Model="@_model1" Title="Step 1" SubTitle="My subtitle" Icon="@MaterialIcon.Search">
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
        <TnTInputText @bind-Value="_model1.Name" Label="Name" Placeholder="Enter your name" />
    </NTComponents.TnTWizardFormStep>
    <NTComponents.TnTWizardFormStep Model="@_model2" Title="Step 2">
        <TnTInputNumeric @bind-Value="_model2.Age" Label="Age" Placeholder="Enter your age" />
    </NTComponents.TnTWizardFormStep>

    <NTComponents.TnTWizardStep Title="Step 3">
        I am just content
    </NTComponents.TnTWizardStep>
</NTComponents.TnTWizard>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@code {
    private Model1 _model1 = new();
    private Model2 _model2 = new();
    private Model3 _model3 = new();

    private LayoutDirection _layoutDirection;

    private sealed class Model1 {
        [Required]
        public string Name { get; set; } = string.Empty;
    }

    private sealed class Model2 {
        public int Age { get; set; }
    }

    private sealed class Model3 {
        public bool Valid { get; set; }
    }
}