@using NTComponents.Core
@using NTComponents.Interfaces
@namespace NTComponents
@inherits TnTComponentBase

<span @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" title="@ElementTitle" id="@ElementId" lang="@ElementLang" @ref="Element">
    <span class="tnt-badge-content">
        @ChildContent
    </span>
</span>