@using Microsoft.AspNetCore.Components.Rendering
@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits TnTComponentBase
@typeparam TGridItem
@implements ITnTComponentBase
@implements IDisposable

@code {
    public virtual void RenderHeaderContent(RenderTreeBuilder __builder) {
        if (HeaderCellItemTemplate is not null) {
            @HeaderCellItemTemplate(this)
        }
        else {
            <div class="@_headerClass" @onclick="@(Sortable? SortAsync : null!)">
                <span class="tnt-column-header-title">
                    @Title
                </span>

                @if (Sortable) {
                    var sortedOn = IsSortedOn;
                    @if (sortedOn.HasValue) {
                        <span class="tnt-column-header-sort-icon">
                            @if (sortedOn == SortDirection.Ascending) {
                                <MaterialIcon Icon="@MaterialIcon.ArrowDropUp" />
                            }
                            else if (sortedOn == SortDirection.Descending) {
                                <MaterialIcon Icon="@MaterialIcon.ArrowDropDown" />
                            }
                            @if (Context.Grid.AllowMultiSort) {
                                <span class="tnt-column-header-sort-index">
                                    @_sortIndex
                                </span>
                            }
                        </span>
                    }
                    @if (EnableRipple) {
                        <TnTRippleEffect />
                    }
                }
            </div>
        }
    }
}