@namespace TnTComponents
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using TnTComponents.Core
@using TnTComponents.Grid
@typeparam TItem

<div @attributes="AdditionalAttributes" class="@Class" style="@GetStyle()">
    <table>
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
            <DeferRendering>
                <thead>
                    <tr>
                        @foreach (var col in _columns) {
                            if (col.Sortable) {
                                var sortedOn = _lastSortColumn == col;
                                <th @key="col"
                                    scope="col"
                                    class="@(CssClassBuilder.Create()
                                        .AddClass("tnt-sortable", col.Sortable)
                                        .AddClass("tnt-sorted-asc", sortedOn && !_descending)
                                        .AddClass("tnt-sorted-desc", sortedOn && _descending)
                                        .Build())"
                                    @onclick="@(() => SortOn(col))">
                                    @{
                                        col.RenderHeaderContent(__builder3);
                                        @if (sortedOn) {
                                            @MaterialIcon.ArrowDropDown.Render()
                                        }
                                    }
                                </th>
                            }
                            else {
                                <th @key="col" scope="col" class="@(CssClassBuilder.Create().Build())">
                                    @{
                                        col.RenderHeaderContent(__builder3);
                                    }
                                </th>
                            }

                        }
                    </tr>
                </thead>
                <tbody>
                    @if (ItemsProvider is not null) {
                        <Virtualize ItemsProvider="@ItemsProvider">
                            <tr @key="context" @onclick="@(() => RowClickedCallback.InvokeAsync(context))">
                                @foreach (var col in _columns) {
                                    <td>
                                        @{
                                            col.RenderCellContent(__builder4, context);
                                        }
                                    </td>
                                }
                            </tr>
                        </Virtualize>
                    }

                    @foreach (var item in GetSorted()) {
                        <tr @key="item" @onclick="@(() => RowClickedCallback.InvokeAsync(item))">
                            @foreach (var col in _columns) {
                                <td>
                                    @{
                                        col.RenderCellContent(__builder3, item);
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </DeferRendering>
        </CascadingValue>
    </table>
</div>
