@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using TnTComponents.Core
@using TnTComponents.Grid
@using TnTComponents.Grid.Columns
@using TnTComponents.Grid.Infrastructure
@namespace TnTComponents
@typeparam TGridItem
@inherits TnTPageScriptComponent<TnTDataGrid<TGridItem>>

<CascadingValue TValue="TnTInternalGridContext<TGridItem>" Value="_internalGridContext" IsFixed="true">
    @ChildContent
    <DeferRendering>
        <table @attributes="AdditionalAttributes"
               class="@ElementClass"
               style="@ElementStyle"
               lang="@ElementLang"
               id="@ElementId"
               @ref="Element">

            <TnTDataGridHeaderRow TGridItem="@TGridItem" @ref="_headerRow" />

            @if (Virtualize && Pagination is null) {
                <TnTDataGridVirtualizedBody TGridItem="@TGridItem" @ref="_body" />
            }
            else {
                <TnTDataGridBody TGridItem="@TGridItem" @ref="_body" />
            }

        </table>
    </DeferRendering>
</CascadingValue>
