@inherits TnTComponentBase

<tnt-accordion @attributes="AdditionalAttributes" class="@Class" theme="@Theme" style="@Style">
    <h3 class="@TnTAccordionHeaderClass">
        @Title
        @TnTIconComponent.RenderIcon(IconType.MaterialIcons, "expand_more")
    </h3>
    <div class="@TnTAccordionContentClass">
        <div>
            @ChildContent
        </div>
    </div>
</tnt-accordion>

<TnTPageScript Src="@($"./_content/TnTComponents/TnTAccordion.razor.js")" />