@inherits TnTComponentBase

<button @attributes="AdditionalAttributes"
        class="@GetClass()"
        style="@Style"
        autofocus="@AutoFocus"
        form="@FormId"
        id="@Id"
        disabled="@Disabled"
        title="@Title"
        type="@Type.ToString().ToLower()"
        aria-label="@Title"
        @onclick="OnClickHandler">
    @if (!string.IsNullOrWhiteSpace(StartIcon)) {
        @TnTIconComponent.RenderIcon(IconType, StartIcon, "tnt-button-start-icon")
    }
    @ChildContent
    @if (!string.IsNullOrWhiteSpace(EndIcon)) {
        @TnTIconComponent.RenderIcon(IconType, EndIcon, "tnt-button-end-icon")
    }
</button>
<TnTPageScript Src="./_content/TnTComponents/TnTButton.razor.js?tntbutton" />

