@using Microsoft.AspNetCore.Components.Sections
@inherits TnTComponentBase

<CascadingValue Value="this" IsFixed="true">
    <tnt-tab-view @attributes=AdditionalAttributes class="@GetClass()" style="@Style" theme="@Theme" @ref="Element">
        <DeferRendering>
            @{
                var set = new HashSet<string>();
                <div class="@TabHeaderClass">
                    <div class="tnt-tab-header-group" id="tnt-tab-header-group" role="group" @onscroll="ButtonScrollListener">
                        @foreach (var tab in _tabChildren) {
                            set.Add(tab.TabButtonClass);
                            @tab.RenderTabHeader()
                        }
                    </div>
                </div>
                foreach (var str in set) {
                    <TnTPageScript Src="@($"./_content/TnTComponents/TnTButton.razor.js?class={str}")" />
                }
            }
        </DeferRendering>
        <span id="tnt-tab-active-indicator" class="@TabActiveIndicatorClass"></span>
        @ChildContent
    </tnt-tab-view>
    <TnTPageScript Src="@($"./_content/TnTComponents/TnTTabView.razor.js")" />
</CascadingValue>


