@using Microsoft.AspNetCore.Components.Sections
@inherits TnTComponentBase


<tnt-tab-view @attributes="AdditionalAttributes" class="@GetClass()" style="@Style" theme="@Theme">
    <div>
        <div class="@TabHeaderClass">
        </div>
    </div>
    <span id="tnt-tab-active-indicator" class="@TabActiveIndicatorClass"></span>
    <div class="@TabContentClass">
    </div>
    @ChildContent
</tnt-tab-view>


<TnTPageScript Src="@($"./_content/TnTComponents/TnTTabView.razor.js?tabviewidentifier={ComponentIdentifier}")" />
