@using Microsoft.AspNetCore.Components.Sections
@inherits TnTComponentBase

<CascadingValue Value="_context">
    <tnt-tab-view @attributes="AdditionalAttributes" class="@GetClass()" style="@Style" theme="@Theme" @ref="Element">
        <DeferRendering>
            @{
                var set = new HashSet<string>();
                <div>
                    <div id="tnt-tab-header-area" class="@TabHeaderClass">
                        @foreach (var child in _context.TabChildren.Values) {
                            if (child is not null) {
                                if (!set.Contains(child.TabButtonClass)) {
                                    set.Add(child.TabButtonClass);
                                }
                                @child?.RenderTabHeader()
                            }
                        }
                    </div>
                </div>
                foreach (var str in set) {
                    <TnTPageScript Src="@($"./_content/TnTComponents/TnTButton.razor.js?class={str}")" />
                }
            }

            <span id="tnt-tab-active-indicator" class="@TabActiveIndicatorClass"></span>
            <div id="tnt-tab-content-area" class="@TabContentClass" data-permanant="tnt-tab-content-area">
            </div>
        </DeferRendering>
        @ChildContent
    </tnt-tab-view>
</CascadingValue>


<TnTPageScript Src="@($"./_content/TnTComponents/TnTTabView.razor.js")" />
