@using Microsoft.AspNetCore.Components.Sections
@inherits TnTComponentBase

<CascadingValue Value="_context">
    <tnt-tab-view @attributes="AdditionalAttributes" class="@GetClass()" style="@Style" theme="@Theme">
        <DeferRendering>
            <div>
                <div id="tnt-tab-header-area" class="@TabHeaderClass">
                    @foreach(var child in _context.TabChildren.Values) {
                        @child?.RenderTabHeader()
                    }
                </div>
            </div>
            <span id="tnt-tab-active-indicator" class="@TabActiveIndicatorClass"></span>
            <div id="tnt-tab-content-area" class="@TabContentClass">
                @foreach(var child in _context.TabChildren.Values) {
                    @child?.RenderTabContent()
                }
            </div>
        </DeferRendering>
    </tnt-tab-view>
    @ChildContent
</CascadingValue>


<TnTPageScript Src="@($"./_content/TnTComponents/TnTTabView.razor.js")" />
