@namespace TnTComponents
@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits NavLink
@implements ITnTComponentBase
@implements ITnTInteractable

<a @attributes="AdditionalAttributes"
   class="@ElementClass"
   style="@ElementStyle"
   lang="@ElementLang"
   id="@ElementId"
   title="@ElementTitle"
   autofocus="@AutoFocus"
   @ref="Element">
 @if (AnchorSize == Size.Small || AnchorSize == Size.XS) {
        <span class="@($"tnt-small-anchor-layer {ElementClass}")">
            @ChildContent
            @if (EnableRipple) {
                <TnTRippleEffect />
            }
        </span>
    }
    else {
        @ChildContent
        @if (EnableRipple) {
            <TnTRippleEffect />
        }
    }

</a>