@namespace TnTComponents
@using Microsoft.AspNetCore.Components.Rendering
@using TnTComponents.Core
@typeparam TEventType
@inherits TnTComponentBase

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" id="@ElementId" title="@ElementTitle" lang="@ElementLang" @ref="Element">
    @if (!HideDateControls) {
        <div class="date-controls">
            <TnTImageButton Icon="@MaterialIcon.ChevronLeft" OnClickCallback="PreviousPage" TextColor="@TextColor" class="prev-button" />
            <TnTButton Appearance="ButtonAppearance.Text" OnClickCallback="GoToToday" class="today-button" TextColor="@TextColor" Elevation="0">
                TODAY
            </TnTButton>
            <TnTImageButton Icon="@MaterialIcon.ChevronRight" OnClickCallback="NextPage" class="next-button" TextColor="@TextColor" />
            <TnTInputDateTime @bind-Value:get="@Date" @bind-Value:set="@((DateOnly date) => UpdateDate(date))" BackgroundColor="@BackgroundColor" Label="Date Picker" />
        </div>
    }
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
