@using System.Globalization
@using TnTComponents.Scheduler.Infrastructure
@namespace TnTComponents
@typeparam TEventType
@inherits ScheduleViewBase<TEventType>

@if (Scheduler.IsViewSelected(this))
{
    var today = DateOnly.FromDateTime(DateTimeOffset.Now.LocalDateTime);
    <div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" id="@ElementId" title="@ElementTitle" lang="@ElementLang" @ref="Element">
        <div class="tnt-date-header">
            <div class="tnt-time-column">
            </div>
            <div class="tnt-dates">
                @foreach (var date in _visibleDates)
                {
                    <h2 class="@($"tnt-date-header-item{(date == today ? " tnt-today" : string.Empty)}")">
                        <div class="tnt-day-of-week tnt-label-small">
                            @date.ToString("ddd").ToUpper()
                        </div>
                        <div class="tnt-date tnt-headline-small">
                            @date.ToString("dd")
                        </div>
                    </h2>
                }
            </div>
        </div>
        <div class="tnt-date-content">
            <div class="tnt-time-column">
                @{
                    var startTime = TimeOnly.MinValue;
                    do
                    {
                        <div class="tnt-time-row tnt-body-small">
                            @startTime.ToString("h tt")
                        </div>
                        startTime = startTime.AddHours(1);
                    }
                    while (startTime != TimeOnly.MinValue);
                }
            </div>
            <div class="tnt-event-columns">
                @foreach (var date in _visibleDates)
                {
                    <div class="tnt-event-column">
                    </div>
                }
            </div>
        </div>
    </div>
}
