@namespace NTComponents
@using NTComponents.Core
@typeparam TEventType
@inherits TnTComponentBase

<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     id="@ElementId"
     title="@ElementTitle"
     lang="@ElementLang"
     @ref="Element">

    @if (!HideDateControls) {
        <div class="date-controls">
            <TnTImageButton Icon="@MaterialIcon.ChevronLeft"
                            OnClickCallback="PreviousPage"
                            TextColor="@TextColor"
                            class="prev-button" />
            <TnTButton Appearance="@ButtonAppearance.Text"
                       OnClickCallback="GoToToday"
                       class="today-button"
                       TextColor="@TextColor">
                TODAY
            </TnTButton>
            <TnTImageButton Icon="@MaterialIcon.ChevronRight"
                            OnClickCallback="NextPage"
                            TextColor="@TextColor"
                            class="next-button" />

        </div>
    }

    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>