@page "/"
@using TnTComponents.Enum;
@using TnTComponents.Forms
@attribute [RenderModeAuto]

<TnTLayout Responsive="true">
    <TnTHeader SideBarExpanded="@_sideBarExpanded">
        <TnTSideBarToggle Click="@(()=> _sideBarExpanded = !_sideBarExpanded)">

        </TnTSideBarToggle>
        <h1>
            My Title
        </h1>
        <button @onclick="@(()=>_dark = !_dark)">Toggle</button>

        <h1>
            123
        </h1>
        <h1>
            456
        </h1>
        <h1>
            789
        </h1>
        <h1>
            123123123
        </h1>
    </TnTHeader>
    <TnTSideBar Expanded="@_sideBarExpanded">
        <TnTSideBarList>
            <TnTSideBarListItem Icon="search" Href="/link">
                Search
            </TnTSideBarListItem>
            <TnTSideBarListItem Icon="home">
                Home
            </TnTSideBarListItem>
            <TnTSideBarListItem Href="/asdf">
                Value
            </TnTSideBarListItem>
        </TnTSideBarList>
    </TnTSideBar>
    <TnTBody SideBarExpanded="@_sideBarExpanded">
        <TnTForm FormType="FormType.Outlined">
            <div class="tnt-row">
                <div class="tnt-col s6">
                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />

                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />

                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </div>
                <div class="tnt-col s6">
                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />

                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />

                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </div>
            </div>
        </TnTForm>

        <div class="tnt-row">

            <div class="tnt-col s6">
                <TnTForm FormType="FormType.Outlined">

                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTPasswordBox @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>
            </div>
            <div class="tnt-col s6">
                <TnTForm FormType="FormType.Outlined">
                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTPasswordBox AllowPasswordReveal="false" @bind-Value="_textValue" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>
            </div>
        </div>
        <div class="tnt-row">

            <div class="tnt-col s6">

                <TnTForm FormType="FormType.Outlined">
                    <TnTPasswordBox Disable="true" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTPasswordBox Disable="true" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTPasswordBox Disable="true" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>
            </div>
            <div class="tnt-col s6">
                <TnTForm FormType="FormType.Outlined">
                    <TnTPasswordBox Disable="true" AllowPasswordReveal="false" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTPasswordBox Disable="true" AllowPasswordReveal="false" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTPasswordBox Disable="true" AllowPasswordReveal="false" @bind-Value="_textValue" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

            </div>
        </div>

        @_numberValue
        @_longValue
        @_textValue
        @_doubleValue
        @_decimalValue
        @_dark

        <TnTCard CardType="CardType.Outlined">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>

        <TnTCard CardType="CardType.Filled">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>

        <TnTCard CardType="CardType.Flat">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>
    </TnTBody>
</TnTLayout>


<HeadContent>
    @if (_dark) {
        <link rel="stylesheet" href="_content/TnTComponents/style.dark.css" />
    }
    else {
        <link rel="stylesheet" href="_content/TnTComponents/style.light.css" />
    }
</HeadContent>


@code {
    private bool _dark = false;

    private bool _sideBarExpanded = false;
    private int _numberValue = 10;
    private ulong _longValue = 10;
    private double _doubleValue = 10.5;
    private decimal _decimalValue = 9.23M;
    private string _textValue = "Value";
    public Starship? Model { get; set; }



    protected override void OnInitialized() => Model ??= new();
    public Dictionary<string, object> C = new Dictionary<string, object>() {
        { "class", "tnt-form" }

    };
    public Dictionary<string, object> D = new Dictionary<string, object>() {
        { "class", "tnt-input-field"}
    };
    private void Submit() {
    }

    public class Starship {
        public string? Id { get; set; }
    }

    private void SideBarExpanded(bool expanded) {
        _sideBarExpanded = expanded;
    }
}