@page "/"
@using TnTComponents.Enum;
@using TnTComponents.Forms
@attribute [RenderModeInteractiveAuto]

<TnTLayout Responsive="true">
    <TnTHeader SideBarExpanded="@_sideBarExpanded">
        <TnTSideBarToggle Click="@(()=> _sideBarExpanded = !_sideBarExpanded)">

        </TnTSideBarToggle>
        <h1>
            My Title
        </h1>
        <button @onclick="@(()=>_dark = !_dark)">Toggle</button>
        <h1>
            123
        </h1>
        <h1>
            456
        </h1>
        <h1>
            789
        </h1>
        <h1>
            123123123
        </h1>
    </TnTHeader>
    <TnTSideBar Expanded="@_sideBarExpanded">
        <TnTSideBarList>
            <TnTSideBarListItem Icon="search" Href="/link">
                Search
            </TnTSideBarListItem>
            <TnTSideBarListItem Icon="home">
                Home
            </TnTSideBarListItem>
            <TnTSideBarListItem Href="/asdf">
                Value
            </TnTSideBarListItem>
        </TnTSideBarList>
    </TnTSideBar>
    <TnTBody SideBarExpanded="@_sideBarExpanded">

        <div class="tnt-row">
            <div class="tnt-col s12 m6">
                <TnTDatePicker FormType="FormType.Filled" AllowClear="false" DisabledProperty="Disabled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" MaxDate="new DateOnly(2024, 12, 15)" MinDate="new DateOnly(2022, 1, 15)">
                </TnTDatePicker>

                <TnTDatePicker FormType="FormType.Filled" DisabledProperty="Disabled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />

                <TnTDatePicker FormType="FormType.Filled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
            </div>
            <div class="tnt-col s12 m6">
                <TnTDatePicker FormType="FormType.Filled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />

                <TnTDatePicker FormType="FormType.Filled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />

                <TnTDatePicker FormType="FormType.Filled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />
            </div>
        </div>

        <TnTForm FormType="FormType.Outlined">
            <div class="tnt-row">
                <div class="tnt-col s12 m6">
                    <TnTDatePicker AllowClear="false" DisabledProperty="Disabled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder">
                    </TnTDatePicker>

                    <TnTDatePicker DisabledProperty="Disabled" TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />

                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </div>
                <div class="tnt-col s12 m6">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />

                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />

                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </div>
            </div>
        </TnTForm>

        <div class="tnt-row">

            <div class="tnt-col s12 m6">
                <TnTForm FormType="FormType.Outlined">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>
                <TnTForm FormType="FormType.Default">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>
            </div>
            <div class="tnt-col s12 m6">
                <TnTForm FormType="FormType.Outlined">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTDatePicker TextProperty="Value" @bind-Value="_value" Icon="search" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>
            </div>
        </div>
        <div class="tnt-row">

            <div class="tnt-col s12 m6">

                <TnTForm FormType="FormType.Outlined">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" Placeholder="My Placeholder" />
                </TnTForm>
            </div>
            <div class="tnt-col s12 m6">
                <TnTForm FormType="FormType.Outlined">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Default">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

                <TnTForm FormType="FormType.Filled">
                    <TnTDatePicker TextProperty="Value" Disable="true" @bind-Value="_value" Label="My Label" HelperText="My Helper Text" />
                </TnTForm>

            </div>
        </div>
        @_value
        <TnTCard CardType="CardType.Outlined">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>

        <TnTCard CardType="CardType.Filled">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>

        <TnTCard CardType="CardType.Flat">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Flat" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Filled" Text="Text"></TnTButton>
            <TnTButton ButtonType="ButtonType.Default" Text="Text"></TnTButton>
        </TnTCard>
    </TnTBody>
</TnTLayout>


<HeadContent>
    @if (_dark) {
        <link rel="stylesheet" href="_content/TnTComponents/style.dark.min.css" />
    }
    else {
        <link rel="stylesheet" href="_content/TnTComponents/style.light.min.css" />
    }
    </HeadContent>


    @code {
    private bool _dark = false;
    private bool _sideBarExpanded = false;

    private DateOnly? _value;

    public Dictionary<string, object> C = new Dictionary<string, object>() {
        { "class", "tnt-form" }

    };
    public Dictionary<string, object> D = new Dictionary<string, object>() {
        { "class", "tnt-input-field"}
    };

    private void SideBarExpanded(bool expanded) {
        _sideBarExpanded = expanded;
    }
}