@namespace NTComponents
@using NTComponents.Core
@inherits TnTComponentBase

<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     title="@ElementTitle"
     lang="@ElementLang"
     autofocus="@AutoFocus"
     id="@ElementId">
</div>
