@namespace NTComponents
@using NTComponents.Layout
@inherits TnTLayoutComponent


<div @attributes="AdditionalAttributes"
     class="@ElementClass"
     style="@ElementStyle"
     lang="@ElementLang"
     id="@ElementId"
     title="@ElementTitle"
     @ref="Element">
    @ChildContent
</div>
