@using NTComponents.Core
@inherits TnTComponentBase
@namespace NTComponents

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" lang="@ElementLang" id="@ElementId"
    title="@ElementTitle" @ref="Element">
    @ChildContent
</div>