@namespace NTComponents
@using NTComponents.Core
@using NTComponents.Interfaces
@inherits NavLink
@implements ITnTComponentBase

<a @attributes="AdditionalAttributes"
   class="@ElementClass"
   style="@ElementStyle"
   lang="@ElementLang"
   id="@ElementId"
   title="@ElementTitle"
   autofocus="@AutoFocus"
   @ref="Element"
   data-permanent>
    @Icon?.Render()
    @ChildContent
    @if (EnableRipple) {
        <TnTRippleEffect />
    }
</a>