@namespace TnTComponents
@using Microsoft.AspNetCore.Components.Rendering
@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTCarouselItem>

@code {
    internal void RenderItem(RenderTreeBuilder __builder) {
        <tnt-carousel-item @attributes="@AdditionalAttributes" class="@($"tnt-carousel-item {(_hero ? " tnt-carousel-hero" : null)}")">
            <div class="@ElementClass" style="@ElementStyle" id="@ElementId" title="@ElementTitle" @ref="Element" lang="@ElementLang" @onclick="@OnClickCallback">
                @ChildContent
                @if (OnClickCallback.HasDelegate && EnableRipple) {
                    <TnTRippleEffect />
                }
            </div>
        </tnt-carousel-item>
    }

    internal void RenderPageScript(RenderTreeBuilder __builder) {
        @PageScript
    }
}