@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" lang="@ElementLang" id="@ElementId" title="@ElementTitle" @ref="Element">
    @ChildContent
</div>
<style>
    body {
        padding:0;
        margin:0;
    }

.tnt-display-large {
    font-family: Roboto;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
}

.tnt-display-medium {
    font-family: Roboto;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0px;
}

.tnt-display-small {
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0px;
}

.tnt-headline-large {
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
}

.tnt-headline-medium {
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
}

.tnt-headline-small {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.tnt-body-large {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.tnt-body-medium {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.tnt-body-small {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.40px;
}

.tnt-label-large {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.10px;
}

.tnt-label-medium {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.50px;
}
.tnt-label-small {
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.50px;
}

.tnt-title-large {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
}

.tnt-title-medium {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.tnt-title-small {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.10px;
}
</style>