@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" lang="@ElementLang" id="@ElementId" title="@ElementTitle" @ref="Element">
    @ChildContent
</div>
<TnTPageScript Src="./_content/TnTComponents/Layout/TnTLayout.razor.js" />
