@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTLayout>
@namespace TnTComponents

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" lang="@ElementLang" id="@ElementId" title="@ElementTitle" @ref="Element">
    @ChildContent
</div>
@PageScript
