@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" lang="@ElementLang" id="@ElementId" title="@ElementTitle" @ref="Element">
    @ChildContent
</div>
<style>
    body {
        padding:0;
        margin:0;
    }
</style>