@inherits TnTIconComponent

<li @attributes="AdditionalAttributes" class="@GetCssClass()" theme="@Theme">
    <NavLink class="tnt-side-nav-list-item-label" href="@Href" Match="@Match">
        @GetIcon()
        @Label
    </NavLink>
    @ChildContent
</li>