@namespace TnTComponents
@using TnTComponents.Core
@using TnTComponents.Interfaces    
@inherits TnTComponentBase


<div @attributes="AdditionalAttributes"
     class="@(CssClassBuilder.Create("tnt-components tnt-side-nav-menu-group").AddDisabled(Disabled).Build())"
style="@ElementStyle"
lang="@ElementLang"
id="@ElementId"
title="@ElementTitle"
autofocus="@AutoFocus"
@ref="Element">
    <div class="@ElementClass"
         onclick="TnTComponents.toggleSideNavGroup(event)">
    <span class="tnt-side-nav-menu-group-label-content">
    @Icon?.Render()
        @Label
    </span>
    <MaterialIcon class="tnt-close-icon" Icon="@MaterialIcon.ArrowDropUp" />
    @if(EnableRipple) {
        <TnTRippleEffect />
    }
</div>

<div class="tnt-side-nav-menu-group-content">
 @ChildContent
    </div>

    <span class="tnt-side-nav-data-permanent" data-permanent>
        <span class="@($"tnt-side-nav-menu-group-toggler{(ExpandByDefault ? " tnt-toggle" : null)}")">

        </span>
    </span>
</div>
