@namespace TnTComponents
@using TnTComponents.Layout
@inherits TnTLayoutComponent


<CascadingValue Value="this" IsFixed=true>
    <div class="tnt-side-nav-toggle-indicator" data-permanent>
        <div class="tnt-toggle-indicator">
        </div>
    </div>
    <div @attributes="AdditionalAttributes"
         class="@ElementClass"
         style="@ElementStyle"
         lang="@ElementLang"
         id="@ElementId"
         title="@ElementTitle"
         @ref="Element"
         data-permanent>
        @ChildContent
    </div>
</CascadingValue>