@inherits TnTIconComponent


@if (_tntLayout?.SideNav is not null) {
    @if (_tntLayout?.Interactive == false && false) {
        <button class="@GetCssClass()" theme="@Theme" onclick="(function() {
    var sideNav = document.getElementById(
        '@(_tntLayout.TnTSideNavId)'
    );
    if(!sideNav.classList.contains('@(TnTLayout.ExpandClass)')) {
        sideNav.classList.add('@(TnTLayout.ExpandClass)');
    }
    else {
        sideNav.classList.remove('@(TnTLayout.ExpandClass)');
    }
    })();">
            @GetIcon()
            @Label
        </button>
    }
    else {
        <button class="@GetCssClass()" theme="@Theme" @onclick="Toggle">
            @GetIcon()
            @Label
        </button>
    }
}