@inherits TnTIconComponent


@if (_tntLayout?.SideNav is not null) {
    @if (_tntLayout?.Interactive == false) {
        <button class="@GetCssClass()" theme="@Theme" onclick="TnTLayout.toggle()">
            @GetIcon()
            @Label
        </button>
    }
    else {
        <button class="@GetCssClass()" theme="@Theme" @onclick="Toggle">
            @GetIcon()
            @Label
        </button>
    }
}