@inherits NTComponents.Core.TnTComponentBase
@typeparam TData

<div class="@ElementClass" id="@ElementId" lang="@ElementLang" style="@ElementStyle" @ref="@Element"  >
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
	<SKGLView EnableRenderLoop="true" IgnorePixelScaling="true" OnPaintSurface="@OnPaintSurface" />
</div>