@inherits NTComponents.Core.TnTComponentBase


<div class="@ElementClass" id="@ElementId" lang="@ElementLang" style="@ElementStyle" @ref="@Element">
	<SkiaSharp.Views.Blazor.SKGLView AdditionalAttributes="AdditionalAttributes" EnableRenderLoop="true" IgnorePixelScaling="false" OnPaintSurface="@OnPaintSurface" />
</div>