@inherits NTComponents.Core.TnTComponentBase
@typeparam TData

<div class="@ElementClass" id="@ElementId" lang="@ElementLang" style="@ElementStyle" @ref="@Element">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
	@if (AllowExport || EnablePan || EnableZoom) {
		<div class="nt-chart-buttons">
			@if (AllowExport) {
				<TnTImageButton ButtonSize="Size.Smallest" Icon="@MaterialIcon.Download" OnClickCallback="@(() => ExportAsPngAsync())" />
			}

			@if (EnablePan || EnableZoom) {
				<TnTImageButton ButtonSize="Size.Smallest" Icon="@MaterialIcon.Refresh" OnClickCallback="@(() => ResetView())" />
			}
		</div>
	}
	<div @onmouseout="OnMouseOut" @onclick="OnClick" @onmousemove="OnMouseMove"
		 @onmousedown="OnMouseDown" @onmouseup="OnMouseUp" @onwheel="OnWheel" @onwheel:preventDefault="EnableZoom"
		 style="width: 100%; height: 100%; @CanvasStyle">
		@if (EnableHardwareAcceleration) {
			<SKGLView EnableRenderLoop="true" IgnorePixelScaling="false" OnPaintSurface="@OnPaintSurface"
					  style="width: 100%; height: 100%; pointer-events: none;" />
		}
		else {
			<SKCanvasView EnableRenderLoop="true" IgnorePixelScaling="false" OnPaintSurface="@OnPaintSurface"
						  style="width: 100%; height: 100%; pointer-events: none;" />
		}
	</div>
</div>