@inherits NTComponents.Core.TnTComponentBase
@typeparam TData

<div class="@ElementClass" id="@ElementId" lang="@ElementLang" style="@ElementStyle" @ref="@Element">
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>
	@if (EnableHardwareAcceleration) {
		<SKGLView EnableRenderLoop="true" IgnorePixelScaling="false" OnPaintSurface="@OnPaintSurface"
				  @onmouseout="OnMouseOut" @onclick="OnClick" @onmousemove="OnMouseMove" style="@CanvasStyle" />
	}
	else {
		<SKCanvasView EnableRenderLoop="true" IgnorePixelScaling="false" OnPaintSurface="@OnPaintSurface"
					  @onmouseout="OnMouseOut" @onclick="OnClick" @onmousemove="OnMouseMove" style="@CanvasStyle" />
	}
</div>